<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <div class="container">
    <a class="navbar-brand" href="#">DatinApp</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault"
      aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarsExampleDefault">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" href="#" *ngIf="loggedIn()">Matches</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#" *ngIf="loggedIn()">Lists</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#" *ngIf="loggedIn()">Messages</a>
        </li>
      </ul>
      <form class="form-inline my-2 my-lg-0" (submit)="onFormSubmit($event)" #loginForm="ngForm">
        <dx-validation-group *ngIf="!loggedIn()" class="nav">
          <dx-text-box placeholder="Username" [(value)]="user.username" [maxLength]=10 class="mr-sm-2">
            <dx-validator [validationRules]="loginRules"></dx-validator>
          </dx-text-box>

          <dx-text-box placeholder="Password" mode="password" [(value)]="user.password" class="mr-sm-2">
            <dx-validator [validationRules]="passwordRules"></dx-validator>
          </dx-text-box>

          <dx-button class="" text="Login" type="success" icon="user" (onClick)="send($event)" [useSubmitBehavior]=true
            [disabled]="!user.username.length || !user.password.length"></dx-button>

        </dx-validation-group>
      </form>
      <div class="dropdown" *ngIf="loggedIn()" dropdown>
        <a class="dropdown-toggle" style="color: #18BC9C;" dropdownToggle>
          Welcome, {{authService.decodedToken?.unique_name | titlecase}}
        </a>
        <div class="dropdown-menu mt-3" *dropdownMenu>
          <a class="dropdown-item" href="#"><i class="fa fa-user"></i> Edit profile</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#" (click)="logOut()"><i class="fa fa-sign-out"></i> Log out</a>
        </div>
      </div>
    </div>
  </div>
</nav>
