<div class="jumbotron" *ngIf="!authService.loggedIn()">
  <div class="container" *ngIf="!registerMode">
    <div style="text-align: center;">
      <h1 class="display-3">Welcome to DatingApp!</h1>
      <p class="lead">Come on in to find your match... All you need is sign in up!</p>
      <div class="text-center">
          <button class="btn btn-primary mr-3" (click)="registerToggle()">Register</button>
          <button class="btn btn-info">Learn more</button>
      </div>      
    </div>
  </div>
  <div class="container" *ngIf="registerMode">
      <app-register (cancelRegister)="cancelRegisterMode($event)"></app-register>
    </div>
</div>
